{% extends "base.html" %}
{% block content %}
    <form action="/app01/add/" method="POST">
        {% csrf_token %}
        <h3 align="center">添加商品</h3>
        <hr>
        <table align="center">
            <tr>
                <td><label for="a">商品名：</label></td>
                <td><input type="text" name="title" id="a" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="b">生产日期：</label></td>
                <td></label><input type="date" name="proDate" id="b" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="c">价格：</label></td>
                <td><input type="text" name="price" id="c" class="form-control"></td>
            </tr>
        </table>
        <br>
        <p align="center"><input type="submit" class="btn btn-default"></p>
    </form>

{% endblock %}}