<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script type="text/javascript" src="/static/bootstrap-3.4.1-dist/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <title>我的站点</title>
</head>
<body>
<div class="container">
    <div class="row">
        <form class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label for="user">用户名</label>
                <input type="text" class="form-control" id="user" placeholder="用户名">
            </div>
            <div class="form-group">
                <label for="pwd">密码</label>
                <input type="password" class="form-control" id="pwd" placeholder="密码">
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="valid">验证码</label>
                    <input type="text" class="form-control" id="valid" placeholder="验证码">
                </div>
                <div class="col-md-6">
                    <img class="get_image" src="/get_image/" width="200" height="50">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input type="button" value="登录" class="btn btn-primary loginBtn">
                </div>
                <div>
                    <input type="button" value="注册" class="btn btn-info regiBtn">
                </div>
            </div>
            <span class="error"></span>
        </form>
    </div>
</div>

<script>
    $(".get_image").click(function () {
        $(this)[0].src+="?"
    })
    $(".loginBtn").click(function () {
        $.ajax({
            url:"/login/",
            data:{
                username:$("#user").val(),
                password:$("#pwd").val(),
                valid:$("#valid").val()
            },
            success:function (data) {
                console.log(data);
                var data=JSON.parse(data);
                if (data["username"]){
                    location.href="/index/"
                }
                else {
                    $(".error").html(data.error_msg).css("color", "red")
                }

            }

        })

    })

</script>


</body>
</html>