<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/bootstrap-3.4.1-dist/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <title>注册</title>
</head>
<body>
    <form action="/regi/" method="POST">
        {% csrf_token %}
        <div style="text-align: center;margin-top: 50px" class="form-group">
            <table align="center">
                <h3 >用户注册</h3>
                <hr>
                <tr>
                    <td>用户名：</td>
                    <td>{{ regiform.username }}</td>
                    <td>{{ regiform.errors.username.0 }}</td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td>{{ regiform.password }}</td>
                    <td>{{ regiform.errors.password.0 }}</td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td>{{ regiform.repeat_password }}</td>
                    <td>{{ regiform.errors.repeat_password.0 }}</td>
                </tr>
                <tr>
                    <td>手机号：</td>
                    <td>{{ regiform.phone }}</td>
                    <td>{{ regiform.errors.phone.0 }}</td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td>{{ regiform.email }}</td>
                    <td>{{ regiform.errors.email.0 }}</td>
                </tr>
            </table>
            <br>
            <input type="submit" class="btn btn-default">
        </div>
    </form>
</body>
</html>