{% extends "base.html" %}

{% block content %}
    <a href="/app01/add/">
        <button type="button" class="btn btn-primary">添加</button>
    </a>
    <table class="table tab-hover">
        <tr>
            <th>编号</th>
            <th>商品名</th>
            <th>出厂日期</th>
            <th>价格</th>
            <th>操作</th>
        </tr>
        {% for pd_obj in pd_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ pd_obj.title }}</td>
                <td>{{ pd_obj.proDate|date:"Y-m-d" }}</td>
                <td>{{ pd_obj.price }}</td>
                <td>
                    <a href="/app01/edit/{{ pd_obj.ID }}">
                        <button type="button" class="btn btn-primary">编辑</button>
                    </a>
                    <a href="/app01/delet/{{ pd_obj.ID }}">
                        <button type="button" class="btn btn-danger">删除</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div style="position: absolute;top: 600px;left: 600px">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if dev_list.has_previous %}
                    <li>
                        <a href="/app01/?p={{ dev_list.previous_page_number }}" aria-label="Previous">上一页</a>
                    </li>
                {% endif %}
                {% for i in page_range %}
                    {% if i == num %}
                        <li class="active"><a href="/app01/?p={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li><a href="/app01/?p={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if dev_list.has_next %}
                    <li>
                        <a href="/app01/?p={{ dev_list.next_page_number }}" aria-label="Next">下一页</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}